# Xcode
.DS_Store
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.xcscmblueprint

# Xcode workspace data
*.xcworkspace
*.xcworkspace/**

# Xcode project user data
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/

# SwiftPM
.swiftpm/

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Crash logs
*.crash

# Secrets
*.env

# Build artifacts
build/
*.dSYM
*.dSYM.zip

# Obsidian
.obsidian/

# Private project docs
docs/private/
